<%- include("../partials/header") %>

<div class="container">
  <h2 style="text-align: center">Create a new item</h2>
  <div class="row">
    <div style="width: 50%; margin: 25px auto">
      <form action="/items" method="POST">
        <div class="form-group">
          <label>Link</label>
          <input
          required
            type="text"
            name="link"
            class="form-control"
            placeholder="link"
            value="<%=link%>"
          />
        </div>
        <div class="form-group">
          <label>Title</label>
          <input
          required
            type="text"
            name="name"
            class="form-control"
            placeholder="enter your title"
          />
        </div>
        <div class="form-group">
          <label>Price</label>
          <input
          required
            type="number"
            name="price"
            class="form-control"
            placeholder="price"
            min="0.01"
            step="0.01"
            value="<%=product.salePrice.max%>"
          />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea
          required
            type="text"
            name="description"
            class="form-control"
            placeholder="description"
            rows="2"
          >
          <%=product.title%>
          </textarea>
        </div>

        <div class="form-group">
          <label>Images</label>
          <p></p>
          <input type="hidden" name="images" value="<%=product.images%>">
          <%product.images.forEach(function(item){ %>
              <img src="<%=item%>" width="50px"/>
          <% }); %>
        </div>

        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Add This Product</button>
        </div>
      </form>
      <a href="/items"> Go Back</a>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
